<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<script>
    function openTab(evt, tabName) { //Allows different tabs to open
        var tabcontent = document.getElementsByClassName("tabcontent");
        for (var i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        var tablinks = document.getElementsByClassName("tablinks");
        for (var i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>

<style>

    #help{
        display: block;
    }
    .tab {
        float: left;
        background-color: #f1f1f1;
        width: 25%;
        height: 600px;
    }
  
    /* Style the buttons that are used to open the tab content */
    .tab button {
        display: block;
        background-color: inherit;
        color: black;
        padding: 22px 16px;
        width: 100%;
        border: none;
        outline: none;
        text-align: left;
        cursor: pointer;
        transition: 0.3s;
    }
    
    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: #ddd;
    }
    
    /* Create an active/current "tab button" class */
    .tab button.active {
        background-color: #ccc;
    }
    
    /* Style the tab content */
    .tabcontent {
        float: left;
        padding: 20px;
        width: 75%;
        border-left: none;
        height: 600px;
        display: none;
        overflow: auto;
    }
    .help-wrapper {
        min-height: 600px;
    }

</style>

<body>
    <% include partials/header %>
    <div class="container mt-4 animated fadeIn">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <h3>Help</h3>
                        </div>
                    </div>
                        <div class="card-text help-wrapper">
                            <div class="menu help-menu">
                                <div class="tab">
                                    <button class="tablinks" onclick="openTab(event, 'help')">Welcome</button>
                                    <button class="tablinks" onclick="openTab(event, 'upload')">Upload Data</button>
                                    <button class="tablinks" onclick="openTab(event, 'settings')">Database and Settings</button>
                                    <button class="tablinks" onclick="openTab(event, 'search')">New/Edit Tickets by Student Search</button>
                                    <button class="tablinks" onclick="openTab(event, 'entry')">Completing the Ticket Form</button>
                                    <button class="tablinks" onclick="openTab(event, 'export')">Viewing Tickets and Exporting Data</button>
                                </div>

                                <div id="help" class="tabcontent">
                                    <h3>Welcome</h3>
                                    <p>Welcome to the Student Event Sign Up Application! 
                                        Click on the tabs to the left for help and information.</p>
                                </div>

                                <div id="upload" class="tabcontent">
                                    <h3>Upload Data</h3>
                                    <h5>Student Data</h5>
                                    <p>To upload the student data file, select the "Students" option and click "Choose 
                                        file" to select which file (.csv) to upload. Then, submit.</p>
                                    <h5>Obligations Data</h5>
                                    <p>To upload the obligations data file, select the "Obligations" option and click 
                                        "Choose file" to select which file (.csv) to upload. Then, submit.</p>
                                </div>
                                
                                <div id="settings" class="tabcontent">
                                    <h3>Database and Settings</h3>
                                    <h5>Resetting Database Collections</h5>
                                    <p>Clicking the "Reset Database" will produce a pop-up with several options of which 
                                        collections (the groups of related data), to delete/reset. Select one of the buttons 
                                        then press the "Reset" button to reset that collection of the database, or all 
                                        collections of the database. <b>CAUTION</b>: The action of reseting the entire or 
                                        part of the database is irreversible.</p>
                                    <h5>Maximum Capacity</h5>
                                    <p>The maximum capacity is the maximum number of students allowed 
                                        for this event. Notifications will be sent when the current number of 
                                        students who have signed up is approaching the maximum. To change the 
                                        maximum capacity, type in the number into the "Maximum Capacity" box 
                                        and click the "Save" button. By default, there is no maximum capacity 
                                        and the maximum can be reverted back to default by resetting the settings 
                                        collection (see "Resetting Database Collections").</p>
                                </div>

                                <div id="search" class="tabcontent">
                                    <h3>New/Edit Tickets by Student Search</h3>
                                    <p>To create a new or edit a previously submitted ticket entry, enter student ID, 
                                        search by last name, or scan student ID. Clicking submit will lead to the ticket 
                                        form with the available fields completed. Guests who are PHS students who have 
                                        previously submitted their ID can also be searched, and will be led to their 
                                        registered host's page.</p>
                                    <h5>Enter Student ID</h5>
                                    <p>Enter the student's ID into the corresponding field. Then click the submit button 
                                        at the bottom of the page.</p>
                                    <h5>Search by First or Last Name</h5>
                                    <p>Select which name that you will be searching for using the "Last Name" or "First Name" buttons. 
                                        Enter the student's corresponding name. <br>The application allows for some case unsensitivity by 
                                        allowing the first letter of a search to be uncapitalized. Otherwise, type it as it would appear 
                                        on the student's school records (i.e. correct capitalization, symbols such as hyphens, etc.). The 
                                        search will also allow for searches of the beginning parts of the student's name. <br> Click the search button. If the name exists in the student data, the matching names will appear in the box below. 
                                        Select the correct name and click the submit button at the bottom of the page.</p>
                                    <h5>Scan Student ID Card</h5>
                                    <p>This function uses an external barcode scanner. Ensure that the student ID field is 
                                        selected/on focus. (The student ID field is selected automatically once the page loads.) 
                                        Then, use the barcode scanner to scan the student's ID. </p>
                                </div>

                                <div id="entry" class="tabcontent">
                                    <h3>Completing the Ticket Form</h3>
                                    <p>Upon loading, the student ID, last name, first name, middle initial, and grade fields will 
                                        be populated given a student ID from the previous Search Student page. Complete the other fields to save. 
                                        If the student has already purchased a ticket, all fields will be populated with their corresponding 
                                        information. <b>CAUTION</b>: Setting a student's ticket number to another student's ticket number will replace 
                                        the original student.</p>
                                    <h5>Adding or Deleting a Guest</h5>
                                    <p>To add a guest, select the "Add Guest" button. A new form will appear to input the guests information. If a guest 
                                        has been added, all fields except for student ID are required. The student ID field is intended to be used for PHS 
                                        students only. To delete a guest, select the "Delete Guest" button. <b>CAUTION</b>: This action is irreversible and 
                                        will remove the guest from the database even if changes are not saved.
                                    </p>
                                    <h5>Auto-Completing the Guest Fields</h5>
                                    <p>To automatically complete the guest's information from the guest's student ID, type a valid ID into the field. 
                                        Click the search button and the guest's first and last name fields will populate. <br>To automatically complete 
                                        the guest's information from the guest's last name, type their last name into the field. The application allows for some 
                                        case unsensitivity by allowing the first letter of a search to be uncapitalized. Otherwise, type it as it would appear 
                                        on the student's school records (i.e. correct capitalization, symbols such as hyphens, etc.). The search will also 
                                        allow for searches of the beginning parts of the student's name. Click the search button and a pop-up will appear. 
                                        Pick the student's name and click the "Select" button. The guest's student ID and name fields will populate.
                                    </p>
                                    <h5>Student Obligations</h5>
                                    <p>An alert will be sent if the student or guest (if they are from PHS and a valid ID is provided) has obligations that have not yet been 
                                        paid. A student cannot sign up/save their form if they have obligations. If a student has taken care of their 
                                        obligations, select the checkbox to override the obligations.
                                    </p>
                                    <h5>Saving, Deleting, and Canceling</h5>
                                    <p>Click the "Save" button to create the new/edit the ticket entry. If the form is incomplete, the form cannot be saved.
                                        An alert will be sent listing the errors in the form. Once the errors are resolved, the form can be saved. <br>To delete 
                                        an entry, click the "Delete" button. This will delete both the student and their guest if they exist. <br>Clicking the 
                                        "Cancel" button will return to the Search Student screen without saving changes, <b>EXCEPT</b> for deleted guests, which will 
                                        remain deleted.
                                    </p>

                                </div>

                                <div id="export" class="tabcontent">
                                    <h3>Viewing Tickets and Exporting Data</h3>
                                    <p>The "Display Tickets" page displays all ticket data in a table sorted by ticket number.</p>
                                    <h5>Exporting Ticket Data</h5>
                                    <p>Click on the "Export Data" button to download all ticket data (as a .csv file). </p>
                                </div>

                            </div>                      
                        </div>
                    <!--</div>-->
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="md-col-1"></div>
        </div>
    </div>
    <% include partials/validateLogin %>
</body>

</html>